*.o
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
sipServer
*.log
Makefile
bin/*
core.*
*.swp
ffmpeg/
thirdParty/lib/libav*
thirdParty/lib/libsw*
.vscode/
add_flv_to_redis.sh
sip_rtp
*.cap
*.d
*.cmake
build/*
